body, p ,h1, h2, h3, header{
    margin:0;
    padding:0;
}
h1,h2,h3{
    font-family: 'modak';
    color:rgb(249, 236, 231);
    font-weight: 400;
}
h1{
    font-size:4em;
    text-align: center;
}
header{
    margin:auto;
    padding:20px;
    background-color:rgb(112, 76, 50);
}
body{
    font-family: 'Reenie Beanie';
    background-color: antiquewhite;
}
p{
    font-size: 3em;
    text-align: center;
    color:rgb(112, 76, 50);
}
img{
    display:block;
    margin:auto;
}
#date{
    padding-top:10px;
}
#foodpic{
    background-color: rgb(155, 204, 225);
    width:500px;
    margin:auto;
    border-radius: 50px;
}