body, h1, h2 ,h3, p, img, div{
    margin:0;
    padding:0;
}
#p1{
    color:white;
    width:500px;
    padding-left: 250px;
}
.showing{
    visibility:visible;
    opacity: 1;
}
.hidden{
    display:none;
    opacity:0;
}

/*beginning*/
body{
    background-color: black;
    font-family: Inconsolata;
}
img{
    display:block;
    margin:auto;
}
button{
    border: none;
    border-radius: 20px;
    background-color: rgb(139, 180, 196);
    color:white;
    font-size: 25px;
}
#next{
position:absolute;
right:17%;
padding:10px;

}
button:hover{
    cursor: pointer;
    background-color:rgb(102, 132, 144);
}
#guy{
    position:fixed;
    height:270px;
    bottom:5%;
    left:15%;
    z-index: 1;
}

/* stores  styling*/
#platesoutside{
    position:absolute;
    right:-250px;
    top:80px;
}

#clothesoutside{
    position:absolute;
    right:-820px;
    top:80px;
}
#plateinterior{
    padding-top:10px;
}
#exit, #exit2{
    position:absolute;
    top:5%;
    left:11%;
    padding:10px;
}

#platesoutside, #box, #exit, #exit2, #newplates,#mugs,#bowls,#clothesoutside,#tay,#skirt,#coat,#top:hover{
    cursor: pointer;
}
/*items*/
#box{
    position:absolute;
    left:15%;
    bottom:10px;
}
#shelf{
    position:absolute;
    right:15%;
    bottom:10px;
    z-index: 0;
}
#newplates{
    position:absolute;
    left:680px;
    top:120px;
    z-index: 1;
}
#mugs{
    position:absolute;
    left:830px;
    top:120px;
    z-index: 1;
}
#bowls{
    position:absolute;
    left:900px;
    top:280px;
    z-index: 1;
}
#tay{
    position:absolute;
    left:15%;
    bottom:10px;
    z-index: 1;
    padding-bottom: 10px;
}
#top{
    position: absolute;
    right:25%;
    top:160px;
    z-index: 1;
}
#coat{
    position: absolute;
    right:16%;
    top:150px;
    z-index: 1;
}
#skirt{
    position: absolute;
    right:10%;
    top:140px;
    z-index: 1;
}
/*task list*/
.undone{
    color:rgb(37, 36, 36);
}
.done{
    color:rgb(68, 167, 68);
}
li, ul{
    margin-left:10px;
    padding:0;
}
#tasklist{
    background-color: rgba(29, 56, 80, 0.154);
    color:rgb(255, 255, 255);
    position:absolute;
    width:200px;
    height:150px;
    left:10%;
    top:10%;
    border-radius: 10px;
    padding:10px;
}
#end{
    width:700px;
    background-color:rgb(170, 246, 255);
}